@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  main {
    background-color: white;
    overflow: hidden;
  }
  
  h1,
  h2,
  h3,
  p {
    color: black;
    
  }

  h1,
  h2,
  h3 {

  }

  p {
    font-family: 'Tenor Sans', sans-serif;
  }