.mediaSection {
  background-color: #6c695d;
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.mediaSectionLeftSide {
  width: 50%;
}

.mediaSectionLeftSideImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mediaSectionRightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 3rem 3rem;
}

.mediaSectionH1 {
  font-size: 3.5rem;
  padding-bottom: 3rem;
  color: #dfdfde;
}

.mediaImgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  justify-items: center;
}

.mediaImgContainer {
  width: 100%;
  padding-bottom: 0rem;
}

.mediaImg {
  /* filter: grayscale(100%); */
  width: 100%;
  height: 80%;
  cursor: pointer;
  transition: transform .5s ease;
}

.mediaImg:hover {
  transform: scale(1.2);
}

@media (max-width: 540px) {
  .mediaSection {
    flex-direction: column;
    align-items: center;
  }
  .mediaSectionH1 {
    font-size: 2rem;
  }
  .mediaSectionLeftSide {
    width: 100%;
    order: 2;
    background-color: #dfdfde;
  }
  .mediaSectionRightSide {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 3rem 0;
  }

  .mediaImgs {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
